/* Import SCSS theme variables - must be first in SCSS */
@use "./themes.scss" as *;

/* Import component styles */
@use "./components/button";
@use "./components/navigation";
@use "./components/footer";
@use "./components/card";
@use "./components/code-block";
@use "./components/pagination";


html {
    scroll-behavior: smooth;
}

/* Ensure smooth transitions when animations kick in */
* {
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Layout wrapper */
.layout {
    min-height: 100vh;
}