.hero {
  position: relative;
  // top: -4rem;
  overflow: hidden;

  &__graphic {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    position: relative;
  }

  &__svg {
    .cls-1,
    .cls-2,
    .cls-3 {
      fill: none;
    }

    .cls-4 {
      fill: #312f3c;
    }

    .cls-5 {
      fill: #140f0b;
    }

    .cls-6 {
      fill: #2a273a;
    }

    .cls-7 {
      fill: #3b364a;
    }

    .cls-8 {
      fill: #302d42;
    }

    .cls-9 {
      fill: #353340;
    }

    .cls-10 {
      fill: #343142;
    }

    .cls-11 {
      fill: #96b7bc;
    }

    .cls-2 {
      stroke: #7fd2c2;
      stroke-width: 1.11px;
    }

    .cls-2,
    .cls-3 {
      stroke-miterlimit: 10;
    }

    .cls-12 {
      fill: #232323;
    }

    .cls-13 {
      fill: url(#linear-gradient-8);
    }

    .cls-14 {
      fill: url(#linear-gradient-7);
    }

    .cls-15 {
      fill: url(#linear-gradient-5);
    }

    .cls-16 {
      fill: url(#linear-gradient-6);
    }

    .cls-17 {
      fill: url(#linear-gradient-9);
    }

    .cls-18 {
      fill: url(#linear-gradient-4);
    }

    .cls-19 {
      fill: url(#linear-gradient-3);
    }

    .cls-20 {
      fill: url(#linear-gradient-2);
    }

    .cls-21 {
      fill: #383546;
    }

    .cls-22 {
      fill: #1c1c1c;
    }

    .cls-23 {
      fill: #28b195;
    }

    .cls-24 {
      fill: #2d253d;
    }

    .cls-25 {
      fill: #323234;
    }

    .cls-26 {
      fill: #282735;
    }

    .cls-27 {
      fill: url(#linear-gradient);
    }

    .cls-3 {
      stroke: #312e41;
      stroke-width: 2.83px;
    }

    .cls-28 {
      fill: #7b7e83;
    }

    .cls-29 {
      fill: #333043;
    }

    .cls-30 {
      fill: #7fd2c2;
    }

    .cls-31 {
      fill: #35353d;
    }

    .cls-32 {
      fill: #32303e;
    }

    .cls-33 {
      fill: #2f2d3a;
    }

    .cls-34 {
      fill: #fff7ac;
    }

    .cls-35 {
      fill: #584f6a;
    }

    .cls-36 {
      fill: #5baebc;
    }

    .cls-37 {
      fill: #6c89b1;
    }

    .cls-38 {
      clip-path: url(#clippath-1);
    }

    .cls-39 {
      fill: #fff;
    }

    .cls-40 {
      fill: #262626;
    }

    .cls-41 {
      fill: #475c61;
    }

    .cls-42 {
      fill: #e8927c;
    }

    .cls-43 {
      fill: #383540;
    }

    .cls-44 {
      fill: #faf7ee;
    }

    .cls-45 {
      fill: #2a2a34;
    }

    .cls-46 {
      fill: #27262e;
    }

    .cls-47 {
      fill: #353446;
    }

    .cls-48 {
      fill: #1b1e23;
    }

    .cls-49 {
      fill: url(#linear-gradient-10);
    }

    .cls-50 {
      fill: url(#linear-gradient-11);
    }

    .cls-51 {
      fill: url(#linear-gradient-12);
    }

    .cls-52 {
      fill: url(#linear-gradient-13);
    }

    .cls-53 {
      fill: url(#linear-gradient-19);
    }

    .cls-54 {
      fill: url(#linear-gradient-14);
    }

    .cls-55 {
      fill: url(#linear-gradient-20);
    }

    .cls-56 {
      fill: url(#linear-gradient-15);
    }

    .cls-57 {
      fill: url(#linear-gradient-16);
    }

    .cls-58 {
      fill: url(#linear-gradient-17);
    }

    .cls-59 {
      fill: url(#linear-gradient-18);
    }

    .cls-60 {
      fill: #70dec3;
    }

    .cls-61 {
      fill: #ad596f;
    }

    .cls-62 {
      fill: #383443;
    }

    .cls-63 {
      fill: #1e1c27;
    }

    .cls-64 {
      fill: #829593;
    }

    .cls-65 {
      fill: #47b58a;
    }

    .cls-66 {
      fill: #4882a3;
    }

    .cls-67 {
      fill: #e48776;
    }

    .cls-68 {
      fill: #a2a7a1;
    }

    .cls-69 {
      fill: #97cbc7;
    }

    .cls-70 {
      fill: #24222d;
    }

    .cls-71 {
      fill: #36474f;
    }

    .cls-72 {
      fill: #49465b;
    }

    .cls-73 {
      fill: #f6c230;
    }

    .cls-74 {
      fill: #232228;
    }

    .cls-75 {
      fill: #4cc4a9;
    }

    .cls-76 {
      fill: #3f3e50;
    }

    .cls-77 {
      fill: #ccb67d;
    }

    .cls-78 {
      clip-path: url(#clippath);
    }

    .cls-79 {
      fill: #0e0e0e;
    }

    .cls-80 {
      fill: #ecb193;
    }

    .cls-81 {
      fill: #74d5c2;
    }

    .clippath_right_eye {
      clip-path: url(#clippath_right_eye);
    }

    .clippath_left_eye {
      clip-path: url(#clippath_left_eye);
    }
  }
}
